@{
    ViewData["Title"] = "Home Page";
}
@model Outsource_Opdracht.Models.BestellingViewModel 
<head>

    <title>PdfGenerator</title>
</head>

<body>

   <a asp-area="" asp-controller="Bestelling" asp-action="Pdf">Pdf</a>

</body>